<!-- Template driven-->

<div class="card">

  <mat-card class="cardt" >
    <mat-card-header >
      <mat-card-title>
        Formulário de cadastro
      </mat-card-title>
    </mat-card-header>
    <mat-card-content >
      <form action="#"  id="form1" (ngSubmit)="submit()" #form="ngForm">
        <div class="grupo">
          <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input type="text" matInput placeholder="Seu nome..." [(ngModel)]="name"
            name="name" autocomplete="off" required minlength="3" #inputName="ngModel" >

            <mat-error *ngIf="inputName.invalid">
              <span *ngIf="inputName.errors?.['required']">
                  Campo obigatório</span>
              <span *ngIf="inputName.errors?.['minlength']">
                  Digite no mínimo 3 caracteres</span>
          </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Sobrenome</mat-label>
            <input type="text" matInput placeholder="Seu Sobrenome..." [(ngModel)]="lastname"
            name="lastname" autocomplete="off" required minlength="3" #inputLastname="ngModel" >

            <mat-error *ngIf="inputLastname.invalid">
              <span *ngIf="inputLastname.errors?.['required']">
                  Campo obigatório</span>
              <span *ngIf="inputLastname.errors?.['minlength']">
                  Digite no mínimo 3 caracteres</span>
          </mat-error>
          </mat-form-field>         
        </div>
  
        <div class="grupo">
          <mat-form-field appearance="outline">
            <mat-label>CPF</mat-label>
            <input type="text" matInput placeholder="Seu CPF..." [(ngModel)]="cpf"
            name="cpf" autocomplete="off" required minlength="11" #inputCpf="ngModel" >

            <mat-error *ngIf="inputCpf.invalid">
              <span *ngIf="inputCpf.errors?.['required']">
                  Campo obigatório</span>
              <span *ngIf="inputCpf.errors?.['minlength']">
                  Digite 11  caracteres</span>
          </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Telefone</mat-label>
            <input type="text" matInput placeholder="Seu Telefone..." [(ngModel)]="phone"
            name="phone" autocomplete="off" required minlength="3" #inputPhone="ngModel" >

            <mat-error *ngIf="inputPhone.invalid">
              <span *ngIf="inputPhone.errors?.['required']">
                  Campo obigatório</span>
              <span *ngIf="inputPhone.errors?.['minlength']">
                  Digite no mínimo 9 caracteres</span>
          </mat-error>
          </mat-form-field>
        </div>
     
        <div class="grupo" >
          <mat-form-field appearance="outline">
            <mat-label>Rua</mat-label>
            <input type="text" matInput placeholder="Sua rua..." [(ngModel)]="street"
            name="street" autocomplete="off" required minlength="1" #inputStreet="ngModel" >

            <mat-error *ngIf="inputStreet.invalid">
              <span *ngIf="inputName.errors?.['required']">
                  Campo obigatório</span>
              <span *ngIf="inputStreet.errors?.['minlength']">
                  Digite no mínimo 1 caracteres</span>
          </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Numero</mat-label>
            <input type="text" matInput placeholder="Seu numero e ou complemento..." [(ngModel)]="number"
            name="number" autocomplete="off" required minlength="1" #inputNumber="ngModel" >

            <mat-error *ngIf="inputNumber.invalid">
              <span *ngIf="inputNumber.errors?.['required']">
                  Campo obigatório</span>
              <span *ngIf="inputNumber.errors?.['minlength']">
                  Digite no mínimo 1 caracteres</span>
          </mat-error>
          </mat-form-field>
        </div>

        <div class="grupo" >
          <mat-form-field appearance="outline">
            <mat-label>Bairro</mat-label>
            <input type="text" matInput placeholder="Seu Bairro..." [(ngModel)]="district"
            name="district" autocomplete="off" required minlength="3" #inputDistrict="ngModel" >

            <mat-error *ngIf="inputDistrict.invalid">
              <span *ngIf="inputDistrict.errors?.['required']">
                  Campo obigatório</span>
              <span *ngIf="inputDistrict.errors?.['minlength']">
                  Digite no mínimo 3 caracteres</span>
          </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Cidade</mat-label>
            <input type="text" matInput placeholder="Sua Cidade..." [(ngModel)]="city"
            name="city" autocomplete="off" required minlength="3" #inputCity="ngModel" >

            <mat-error *ngIf="inputCity.invalid">
              <span *ngIf="inputName.errors?.['required']">
                  Campo obigatório</span>
              <span *ngIf="inputCity.errors?.['minlength']">
                  Digite no mínimo 3 caracteres</span>
          </mat-error>
          </mat-form-field>
        </div>

        <div class="grupo" >
          <mat-form-field appearance="outline">
            <mat-label>Estado</mat-label>
            <input type="text" matInput placeholder="Seu nome..." [(ngModel)]="state"
            name="state" autocomplete="off" required minlength="3" #inputState="ngModel" >

            <mat-error *ngIf="inputState.invalid">
              <span *ngIf="inputState.errors?.['required']">
                  Campo obigatório</span>
              <span *ngIf="inputState.errors?.['minlength']">
                  Digite no mínimo 3 caracteres</span>
          </mat-error>

          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>País</mat-label>
            <input type="text" matInput placeholder="Seu País..." [(ngModel)]="country"
            name="country" autocomplete="off" required minlength="3" #inputCountry="ngModel" >

            <mat-error *ngIf="inputCountry.invalid">
              <span *ngIf="inputCountry.errors?.['required']">
                  Campo obigatório</span>
              <span *ngIf="inputCountry.errors?.['minlength']">
                  Digite no mínimo 3 caracteres</span>
          </mat-error>
          </mat-form-field>
        </div>

       

        <div class="grupo" >
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input type="text" matInput placeholder="Seu Username..." [(ngModel)]="name"
            name="name" autocomplete="off" required minlength="3" #inputName="ngModel" >

            <mat-error *ngIf="inputName.invalid">
              <span *ngIf="inputName.errors?.['required']">
                  Campo obigatório</span>
              <span *ngIf="inputName.errors?.['minlength']">
                  Digite no mínimo 3 caracteres</span>
          </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input type="text" matInput placeholder="email@email.com..." [(ngModel)]="email"
            name="email" autocomplete="off" required minlength="8" #inputEmail="ngModel" email="" >

            <mat-error>
              <span *ngIf="inputEmail.errors?.['minlength']">
                  Coloque no mínimo 8 caracteres!
              </span>
              <span *ngIf="inputEmail.errors?.['required']">
                  Campo obrigatório!
              </span>   
              <span *ngIf="inputEmail.errors?.['email']">
                  isso não é um email!
              </span>  
          </mat-error>
          </mat-form-field>
        </div>
  
        <div class="grupo">
          <mat-form-field appearance="outline">
            <mat-label>Senha1</mat-label>
            <input type="text" matInput placeholder="Digite sua Senha..." [(ngModel)]="password1"
            name="password1" autocomplete="off" required minlength="3" #inputPassword1="ngModel" >

            <mat-error *ngIf="inputPassword1.invalid">
              <span *ngIf="inputPassword1.errors?.['required']">
                  Campo obigatório</span>
              <span *ngIf="inputPassword1.errors?.['minlength']">
                  Digite no mínimo 3 caracteres</span>
          </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>senha2</mat-label>
            <input type="text" matInput placeholder="Confirme sua senha..." [(ngModel)]="password2"
            name="password2" autocomplete="off" required minlength="3" #inputPassword2="ngModel" >

            <mat-error *ngIf="inputPassword2.invalid">
              <span *ngIf="inputPassword2.errors?.['required']">
                  Campo obigatório</span>
              <span *ngIf="inputPassword2.errors?.['minlength']">
                  Digite no mínimo 3 caracteres</span>
          </mat-error>
          </mat-form-field>
        </div>
  
        <div >
          <button mat-raised-button type="submit" color="accent" class="btn"
          [disabled]="form.invalid"
          >Cadastrar</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>

