<!-- reactive forms -->

<div class="card">

  <mat-card class="cardt" >
    <mat-card-header >
      <mat-card-title>
        Formulário de cadastro
      </mat-card-title>
    </mat-card-header>
    <mat-card-content >
      <form action="#" (ngSubmit)="submit()" [formGroup]="personalData "id="form1">
        <div class="grupo">
          <mat-form-field appearance="fill">
            <mat-label>Nome</mat-label>
            <input type="text" matInput placeholder="Seu nome..." formControlName="name">

            <mat-error>
              <span *ngIf="personalData.controls['name'].getError('required')">
                  Campo obigatório</span>
              <span *ngIf="personalData.controls['name'].getError('minlength')">
                  Digite no mínimo 3 caracteres</span>
          </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Sobrenome</mat-label>
            <input type="text" matInput placeholder="Seu Sobrenome..." formControlName="lastname">

            <mat-error>
              <span *ngIf="personalData.controls['lastname'].getError('required')">
                  Campo obigatório</span>
              <span *ngIf="personalData.controls['lastname'].getError('minlength')">
                  Digite no mínimo 3 caracteres</span>
          </mat-error>
          </mat-form-field>         
        </div>
  
        <div class="grupo">
          <mat-form-field appearance="fill">
            <mat-label>CPF</mat-label>
            <input type="text" matInput placeholder="Seu CPF..." formControlName="cpf">

            <mat-error>
              <span *ngIf="personalData.controls['cpf'].getError('required')">
                  Campo obigatório</span>
              <span *ngIf="personalData.controls['cpf'].getError('minlength')">
                  Digite no mínimo 3 caracteres</span>
          </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Telefone</mat-label>
            <input type="text" matInput placeholder="Seu Telefone.." formControlName="phone">

            <mat-error>
              <span *ngIf="personalData.controls['phone'].getError('required')">
                  Campo obigatório</span>
              <span *ngIf="personalData.controls['phone'].getError('minlength')">
                  Digite no mínimo 3 caracteres</span>
          </mat-error>
          </mat-form-field>
        </div>
        <mat-divider></mat-divider> <br>
        <div class="grupo" >
          <mat-form-field appearance="fill">
            <mat-label>Rua</mat-label>
            <input type="text" matInput placeholder="Digite sua rua..." formControlName="street">

            <mat-error>
              <span *ngIf="personalData.controls['street'].getError('required')">
                  Campo obigatório</span>
              <span *ngIf="personalData.controls['street'].getError('minlength')">
                  Digite no mínimo 3 caracteres</span>
          </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Numero</mat-label>
            <input type="text" matInput placeholder="digite o numero nº..." formControlName="number">

            <mat-error>
              <span *ngIf="personalData.controls['number'].getError('required')">
                  Campo obigatório</span>
              <span *ngIf="personalData.controls['number'].getError('minlength')">
                  Digite no mínimo 1 caracteres</span>
          </mat-error>
          </mat-form-field>
        </div>

        <div class="grupo" >
          <mat-form-field appearance="fill">
            <mat-label>Bairro</mat-label>
            <input type="text" matInput placeholder="Digite seu bairro..." formControlName="district">

            <mat-error>
              <span *ngIf="personalData.controls['district'].getError('required')">
                  Campo obigatório</span>
              <span *ngIf="personalData.controls['district'].getError('minlength')">
                  Digite no mínimo 3 caracteres</span>
          </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Cidade</mat-label>
            <input type="text" matInput placeholder="Digite sua cidade..." formControlName="city">

            <mat-error>
              <span *ngIf="personalData.controls['city'].getError('required')">
                  Campo obigatório</span>
              <span *ngIf="personalData.controls['city'].getError('minlength')">
                  Digite no mínimo 3 caracteres</span>
          </mat-error>
          </mat-form-field>
        </div>

        <div class="grupo" >
          <mat-form-field appearance="fill">
            <mat-label>Estado</mat-label>
            <input type="text" matInput placeholder="Seu Estado..." formControlName="state">
            <mat-error>
              <span *ngIf="personalData.controls['state'].getError('required')">
                  Campo obigatório</span>
              <span *ngIf="personalData.controls['state'].getError('minlength')">
                  Digite no mínimo 2 caracteres</span>
          </mat-error>

          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>País</mat-label>
            <input type="text" matInput placeholder="Seu País..." formControlName="country">

            <mat-error>
              <span *ngIf="personalData.controls['country'].getError('required')">
                  Campo obigatório</span>
              <span *ngIf="personalData.controls['country'].getError('minlength')">
                  Digite no mínimo 3 caracteres</span>
          </mat-error>
          </mat-form-field>
        </div>
        <mat-divider></mat-divider> <br>
        <div class="grupo" >
          <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input type="text" matInput placeholder="Seu Username..." formControlName="username">

            <mat-error>
              <span *ngIf="personalData.controls['username'].getError('required')">
                  Campo obigatório</span>
              <span *ngIf="personalData.controls['username'].getError('minlength')">
                  Digite no mínimo 5 caracteres</span>
          </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>E-mail</mat-label>
            <input type="text" matInput placeholder="email@email.com..." formControlName="email">

            <mat-error>
              <span *ngIf="personalData.controls['email'].getError('required')">
                  Campo obigatório</span>
                  <span *ngIf="personalData.controls['email'].getError('email')">
                    Isto não é um email</span>
          </mat-error>
          </mat-form-field>
        </div>
  
        <div class="grupo">
          <mat-form-field appearance="fill">
            <mat-label>Senha</mat-label>
            <input type="password" matInput placeholder="Digite sua senha.." formControlName="password1">

            <mat-error>
              <span *ngIf="personalData.controls['password1'].getError('required')">
                  Campo obigatório</span>
              <span *ngIf="personalData.controls['password1'].getError('minlength')">
                  Digite no mínimo 6 caracteres</span>
          </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Confirme sua senha</mat-label>
            <input type="password" matInput placeholder="Confirme sua senha..." formControlName="password2" pattern="{{personalData.value.password1}}">

            <mat-error>
              <span *ngIf="personalData.controls['password2'].getError('required')">
                  Campo obigatório</span>
              <span *ngIf="personalData.controls['password2'].getError('minlength')">
                  Digite no mínimo 6 caracteres</span>
                  <span *ngIf="personalData.controls['password2'].value != personalData.controls['password1'].value" >
                    Senha diferente.....</span>
          </mat-error>
         
          </mat-form-field>
        </div>
  
        <div >
          <button mat-raised-button type="submit" color="accent" class="btn"
          [disabled]="personalData.invalid" (click)="showDialog()"
          >Cadastrar</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>

