.dialog {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(118, 168, 177);
  border-radius: 8px;
  font-family: sans-serif;

}